

body {
    background-image: url("../images/shark.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    
}

.container {
	text-align: center;
	color: #FF642A;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 1px 1px 1px #000; 

}

.spacing {
	padding: 5px;
}

.trans {
	background:#7f7f7f;
  	background:rgba(0,0,0,0.5);
  	border-radius: 50px;

}


p {
	padding-top: 50px;
	font-size: 80px;
	font-family: 'Luckiest Guy', cursive;
	color: white;
}
button {
	text-shadow: 3px 3px 3px #000; 
}
.spacing {
	margin: 25px 100px 0px 100px;
}

