body {
	text-align: center;
	font-family: 'Luckiest Guy', cursive;
}
.jumbotron {	
	background-image: url(../images/background.jpg);
	background-size: cover;
	height: 800px;
	font-family: 'Luckiest Guy', cursive;

}

img {
	height: 100px;
}